<footer class="footer">
    <div class="footer-container">


        <div class="footer-section footer-contact">
            <h3>Contato:</h3>
            <p><strong>Endereço:</strong> Itapetinga</p>
            <p><strong>Telefone:</strong> 77 99999-9999</p>
            <p><strong>E-mail:</strong>  wesleyulisses0&#64;gmail.com</p>
        </div>

        <div class="footer-section footer-links">
            <h3>Links Rápidos:</h3>
            <ul>
                <li><a href="https://docs.google.com/document/d/13rzpSnToU0zsrDQwUIirxy4x7jZZtE2b6v8mqt5OU1A/edit?usp=sharing" target="_blank">Termos de Uso</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>

        <div class="footer-section footer-social">
            <h3>Administradores:</h3>
            <ul>
                <li><a><i class="fab fa-facebook" ></i> Cadastre seu futebol!</a></li>
                <li><a><i class="fab fa-instagram"></i> Gerencie seus jogadores</a></li>
                <li><a><i class="fab fa-youtube"></i> Duvidas? Clique aqui</a></li>
            </ul>
        </div>


    </div>

    <div class="footer-copyright">
        <p>&copy; 2024 Wesley Ulisses. Todos os direitos reservados.</p>
    </div>
</footer>